name: Continuous Integration

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, labeled]
  push:
    branches: [main]

# Make sure we're not running multiple release steps at the same time as this can give issues with determining the next npm version to release.
# Ideally we only add this to the 'release' job so it doesn't limit PR runs, but github can't guarantee the job order in that case:
# "When concurrency is specified at the job level, order is not guaranteed for jobs or runs that queue within 5 minutes of each other."
concurrency:
  group: credo-ts-${{ github.ref }}-${{ github.repository }}-${{ github.event_name }}
  cancel-in-progress: true

permissions:
  id-token: write # required for npm trusted publishing
  contents: write
  pull-requests: write  

jobs:
  ci-trigger:
    runs-on: ubuntu-latest
    outputs:
      triggered: ${{ steps.check.outputs.triggered }}
    steps:
      - name: Determine if CI should run
        id: check
        run: |
          if [[ "${{ github.event.action }}" == "labeled" && "${{ github.event.label.name }}" == "ci-test" ]]; then
              export SHOULD_RUN='true'
          elif [[ "${{ github.event.action }}" == "labeled" && "${{ github.event.label.name }}" != "ci-test" ]]; then
              export SHOULD_RUN='false'
          else 
              export SHOULD_RUN='true'
          fi
          echo "SHOULD_RUN: ${SHOULD_RUN}"
          echo "::set-output name=triggered::${SHOULD_RUN}"
  validate:
    runs-on: ubuntu-latest
    name: Validate
    needs: [ci-trigger]
    if: needs.ci-trigger.outputs.triggered == 'true'
    steps:
      - name: Checkout credo-ts-indy-vdr-proxy
        uses: actions/checkout@v6

      - name: Setup Helm
        uses: azure/setup-helm@v3

      - uses: pnpm/action-setup@v4
      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Types check
        run: pnpm types:check

      - name: Style check
        run: pnpm style:check

      - name: Build
        run: pnpm build

      - name: Validate Helm chart
        run: helm lint ./charts

  tests:
    runs-on: ubuntu-latest
    name: Tests
    needs: [validate]
    if: needs.ci-trigger.outputs.triggered == 'true'
    steps:
      - name: Checkout credo-ts-indy-vdr-proxy
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
         node-version: 22
         cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm test

  package-finder:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.repository == '2060-io/credo-ts-indy-vdr-proxy' && github.event_name == 'push'
    needs: [tests]
    outputs:
      packages: ${{ steps.get-packages.outputs.packages }}
    steps:
      - name: Checkout credo-ts-indy-vdr-proxy
        uses: actions/checkout@v2

      - uses: pnpm/action-setup@v4
      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
         node-version: 22
         cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - id: get-packages
        name: Get all NPM packages
        run: pnpm ts-node ./scripts/getPackages.ts

  release-please:
    runs-on: ubuntu-latest
    needs: [package-finder]
    strategy:
      fail-fast: false
      matrix:
        package: ${{fromJson(needs.package-finder.outputs.packages)}}
    env:
      DH_USERNAME: ${{ secrets.DOCKER_HUB_LOGIN }}
      DH_TOKEN: ${{ secrets.DOCKER_HUB_PWD }}
      IMAGE_NAME: "indy-vdr-proxy"
    steps:
      - uses: google-github-actions/release-please-action@v2
        id: release-please
        with:
          path: packages/${{ matrix.package }}
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          package-name: ${{ matrix.package }}
          bump-minor-pre-major: true
          bump-patch-for-minor-pre-major: true
          monorepo-tags: true
          signoff: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"

      # Initiate release process if release was created
      - name: Checkout credo-ts-indy-vdr-proxy
        uses: actions/checkout@v6
        if: ${{ steps.release-please.outputs.release_created }}
      
      - uses: pnpm/action-setup@v4
        if: ${{ steps.release-please.outputs.release_created }}

      - name: Setup node v22
        uses: actions/setup-node@v6
        with:
         node-version: 22
         cache: pnpm
        if: ${{ steps.release-please.outputs.release_created }}

      - name: Corepack pnpm
        # OIDC publishing requires npm >= 11.5.1
        run: |
          npm install -g npm@^11
          corepack enable
        if: ${{ steps.release-please.outputs.release_created }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        if: ${{ steps.release-please.outputs.release_created }}
      - name: Release to NPM
        run: npm publish ./packages/${{ matrix.package }}
        if: ${{ steps.release-please.outputs.release_created }}
      - name: Setup Helm
        if: ${{ steps.release-please.outputs.release_created }}
        uses: azure/setup-helm@v3

      - name: Build and publish Docker image
        env:
          RELEASE_VERSION: ${{ steps.release-please.outputs.version }}
          PACKAGE: ${{ matrix.package }}
        run: |
          echo "$DH_TOKEN" | docker login -u "$DH_USERNAME" --password-stdin
          docker build -t "$DH_USERNAME/$IMAGE_NAME:v$RELEASE_VERSION" -f ./packages/$PACKAGE/Dockerfile .
          docker push "$DH_USERNAME/$IMAGE_NAME:v$RELEASE_VERSION"
        if: ${{ (steps.release-please.outputs.release_created == 'true') && (matrix.package == 'server') }}

      - name: Log in to Docker Hub Helm Registry
        if: ${{ (steps.release-please.outputs.release_created == 'true') && (matrix.package == 'server') }}
        run: |
          echo "$DH_TOKEN" | helm registry login -u "$DH_USERNAME" --password-stdin docker.io

      - name: Push Helm chart to Docker Hub OCI repo
        if: ${{ (steps.release-please.outputs.release_created == 'true') && (matrix.package == 'server') }}
        env:
          RELEASE_VERSION: ${{ steps.release-please.outputs.version }}
        run: |
          sed -i "s/^version:.*/version: v$RELEASE_VERSION/" ./charts/Chart.yaml
          CHART_NAME=$(grep '^name:' ./charts/Chart.yaml | awk '{print $2}')
          helm dependency update ./charts
          helm package ./charts -d ./charts
          helm push ./charts/$CHART_NAME-v$RELEASE_VERSION.tgz oci://docker.io/$DH_USERNAME
